<%= form_with(model: employee) do |form| %>
  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :storage_id, style: "display: block" %>
    <%= form.text_field :storage_id %>
  </div>

   <div class="mt-4">
    <%= form.submit 'Save', :class => "btn btn-primary" %>
    <%= link_to "Back", employees_path , class: "btn btn-secondary" %>
  </div>
<% end %>
