<%= form_with(model: contract) do |form| %>
  <div>
    <%= form.label :contractId, style: "display: block" %>
    <%= form.text_field :contractId %>
  </div>

  <div>
    <%= form.label :employee_id, style: "display: block" %>
    <%= form.text_field :employee_id %>
  </div>

  <div class="mt-4">
    <%= form.submit 'Save', :class => "btn btn-primary" %>
    <%= link_to "Back", contracts_path , class: "btn btn-secondary" %>
  </div>
<% end %>
