<%= form_with(model: storage) do |form| %>
  <div>
    <%= form.label :cnpj, style: "display: block" %>
    <%= form.text_field :cnpj %>
  </div>

  <div class="mt-2">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="mt-4">
    <%= form.submit 'Save', :class => "btn btn-primary" %>
    <%= link_to "Back", storages_path , class: "btn btn-secondary" %>
  </div>
<% end %>
